<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>

</head>
<header>
    <section class="topbar">
        <img id="logo" src="/img/logo4.png" alt="logo">
        <nav>
            <ul>
                <li class="cart"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li class="my-account"><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </nav>
    </section>
    <section class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i><input type='search' placeholder="">
    </section>

</header>

<body>
    <section class="banner">
        <img src="\img\ninos-jugando.jpg" alt="juguetes con fondo verde">

    
    <section class="texto">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus nulla similique, aliquam, cum modi officiis veritatis quo quisquam veniam, maiores nobis fugiat in nisi totam nam. Omnis soluta ut repellendus?</p>
    </section>
</body>

</html>