<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <header class="header-style">
        <section class="top-header">
            <i class="fa-solid fa-truck"></i>
            <h4>Envío gratis a partir de $ 5000</h4>
        </section>

        <section class="topbar">
            
            <div class="burger-menu">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa-solid fa-bars"></i></a>
                <script>
                    function myFunction() {
                        var x = document.getElementById("links");
                        if (x.style.display === "block") {
                            x.style.display = "none";
                        } else {
                            x.style.display = "block";
                        }
                    }
                </script>
                <ul id="links">
                    <li><a href="/views/quienes-somos.html">Quienes Somos</a></li>
                    <li><a href="/views/productCategory.html">Por edad</a></li>
                    <li><a href="/views/productCategory.html">Por categoria</a></li>
                    <li><a href="/views/productCategory.html">Por edad</a></li>
                    <li><a href="/views/faq.html">FAQ</a></li>
                    <li><a href="/views/contacto.html">Contacto</a></li>
                </ul>
            </div>

            <img id="logo" src="/img/logo4.png" alt="logo">
            <nav>
                <ul class="lista-nav">
                    <li class="cart"><a href="/productCart"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li class="my-account"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </nav>
        </section>
        <section class="search-bar">
            <input type='search' placeholder="">
            <button type="submit"><a href="#"></a><i class="fa-solid fa-magnifying-glass"></i></a></button>
        </section>



    </header>
    <section class="banner">
        <img src="\img\ninos-jugando.jpg" alt="juguetes con fondo verde">
    </section>

    <section class="galeria-juguetes">
        <article class="producto">
            <a href="/productDetail">
                <img src="/img/banco didactico-4-en1.jpg" alt="banco">
                <h3>Banco didáctico</h3>
            </a>
            <p>$ 4800</p>
            <p class="cuotas">3 cuotas de $ 1600</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productDetail">
                <img src="/img/cocodrilo-de-arrastre.png" alt="cocodrilo">
                <h3>Cocodrilo de arrastre</h3>
            </a>
            <p>$ 3200</p>
            <p id="cuotas">3 cuotas de $ 1066</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productDetail">
                <img src="/img/cohete-multifuncion.png" alt="cohete">   
                <h3>Cohete multifunción</h3>
            </a>
            <p>$ 7900</p>
            <p class="cuotas">3 cuotas de $ 2630</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>
            
        </article>

        <article class="producto">
            <a href="/productDetail">
                <img src="/img/pizarra-mesa-expresion.png" alt="pizarra">
                <h3>Mesa expresión</h3>
            </a>
            <p>$ 4500</p>
            <p class="cuotas">3 cuotas de $ 1500</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productDetail">
                <img src="/img/torre-geometrica madera.png" alt="torre">
                <h3>Torre geométrica</h3>
            </a>
            <p>$ 1600</p>
            <p class="cuotas">3 cuotas de $ 530</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productDetail">
                <img src="/img/carro-andador-de-madera.jpg" alt="carrito">
                <h3>Carro andador</h3>
            </a>
            <p>$ 2500</p>
            <p class="cuotas">3 cuotas de $ 830</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

    </section>
    <section class="categorias">
        <article class="producto-categoria">
            <a href="#">
                <h3>Juguetes de madera</h3>
                <img src="/img/valija-carpintero.png" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productDetail">
                <h3>Rompecabezas</h3>
                <img src="/img/rompecabezas-animales.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productDetail">
                <h3>Niños 2 a 4 años</h3>
                <img src="/img/4anios.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productDetail">
                <h3>Pizarras</h3>
                <img src="/img/pizarras.png" alt="banco">
            </a>
        </article>



    </section>

    <footer>
        <ul class="lista-footer">
            <li><a href="#" class="quienes-somos">Quienes Somos</a></li>
            <li class="redes">
                <h4>Redes Sociales</h4>
            </li>
                <!--<ul class="lista-redes">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitch"></i></li>
                </ul>-->
                <ul class="lista-redes">
                    <li><a href="#"><img src="/img/icons8-twitter-48.png" alt=""></a></li>
                    <li><a href="#"><img src="/img/icons8-instagram-48.png" alt=""></a></li>
                    <li><a href="#"><img src="/img/icons8-twitch-48.png" alt=""></a></li>        
                </ul>
            </li>
            <li class="medios-de-pago">
                <h4>Medios de Pago</h4>
                <!--<ul class="lista-medios-pago">
                    <li><i class="fa-brands fa-cc-mastercard"></i></i></li>
                    <li><i class="fa-brands fa-cc-visa"></i></li>
                </ul>-->
                <ul class="lista-medios-pago">
                    <li><img src="/img/icons8-gift-card-48.png" alt=""></li>
                    <li><img src="/img/icons8-visa-48.png" alt=""></li>
                    <li><img src="/img/icons8-mastercard-48.png" alt=""></li>
                </ul>
            </li>
            <li><a href='#'>F.A.Q</a></li>
            <li class="contactenos"><a href="#">Contactanos</a></li>
        </ul>
        <div>
            <a href="https://api.whatsapp.com/send?phone=1155996575&text=Hola. como te podemos ayudar?%21%20." class="whatsapp" target="_blank">
                <img src="/img/icons8-whatsapp-48.png" alt="">
                <!--<i class="fa fa-whatsapp whatsapp-button"></i>-->
            </a>
        </div>
    </footer>
</body>

</html>