<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/product-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    <title>Rayuela</title>
</head>

<body>
    <header>
        <section class="top-header">
            <i class="fa-solid fa-truck"></i>
            <h4>Envio gratis a partir de 5000$</h4>
        </section>

        <section class="bottom-header">

            <div class="burger-menu">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa-solid fa-bars"></i></a>
                <script>
                    function myFunction() {
                        var x = document.getElementById("links");
                        if (x.style.display === "block") {
                            x.style.display = "none";
                        } else {
                            x.style.display = "block";
                        }
                    }
                </script>
                <ul id="links">
                    <li><a href="/views/quienes-somos.html">Quienes Somos</a></li>
                    <li><a href="/views/productCategory.html">Por edad</a></li>
                    <li><a href="/views/productCategory.html">Por categoria</a></li>
                    <li><a href="/views/productCategory.html">Por edad</a></li>
                    <li><a href="/views/faq.html">FAQ</a></li>
                    <li><a href="/views/contacto.html">Contacto</a></li>
                </ul>
            </div>

            <div class="header-logo">
                <img id="logo" src="/img/logo4.png" alt="logo">
            </div>

            <ul class="nav">
                <li class="cart"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li class="my-account"><a href="#"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </section>


        <section class="search-bar">
            <form class="search-nav" action="#" method="GET">
                <input type="text" placeholder="Buscar.." name="search">
                <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
            </form>
        </section>
    </header>

    <section class="bread-crumbs">
        <ul class="breadcrumbs">
            <li><a href="home.html>=">home</a></li>
            <li><a href="productCategory.html">instruentos musicales</a></li>
            <li><a href="productDetail.html">kit instrumento musical</a></li>
        </ul>
    </section>
    
    <a href="https://api.whatsapp.com/send?phone=1155996575&text=Hola. como te podemos ayudar?%21%20." class="whatsapp"
        target="_blank">
        <i class="fa fa-whatsapp whatsapp-button"></i>
    </a>

    </a>

    <section class="product">

        <img src="\img\instrumentos.png">
        <div class="product-info">
        <h1 class="product-name">Kit musical</h1>

        <h2 class="precio">4250$</h2>

        <form class="add-to-cart" method="GET" action="/add-to-cart.html">
                      <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i>AGREGAR AL
                CARRITO</button>
        </form>
    </div>
        <hr>
        <div class="envio">
            <article class='shipping-icon'>
                <i class="fa-solid fa-truck"></i>
                <p><p class="destacado"> Envio gratis  </p> _a partir de 5000$</p>
            </article>
           
            <form action="/" method="post">
                <input type="text" name="cp" placeholder="Tu codigo postal">
                <button type="submit" ">CALCULAR</button>
                <br>
                
            </form>
            <a href="https://codigopostal.com.ar/">No se mi CP</a>
        </div>


        <div class="mas-info">
            <h3>Descripcion</h3>
            <hr>
            <p>El Kit musical Golden 6 piezas incluye:
                Cascabel, Flauta 20 cm, Xilofon, Maraca Baby, Castañuela y Guiro (Percusión).
                Todos los instrumentos vienen dentro de una bolsa de Tela, los colores van rotando de acuerdo a la disponibilidad de stock.</p>
        </div>
        <div class="mas-info">
            <h3>Información Adicional </h3>
            
            <hr>
            <table class="info-table">
                <tr>
                    <td>Edad recomendada</td>
                    <td>+ 2 años</td>
                </tr>
                <tr>
                    <td>Materiales</td>
                    <td>Madera y metal</td>
                </tr>
                <tr>
                    <td>Dimensines</td>
                    <td>20cm x 30 cm x 15 cm</td>
                </tr>
            </table>
        </div>

        <hr>
    </section>

    <h2 class="1">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        <article class="card">
            <img src="/img/xilofon1.png" alt="juguete1">
            <h3>Xilofón</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="/img/maracas.png" alt="juguete2">
            <h3>Maracas</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="\img\bloques-paraguas.png" alt="juguete3">
            <h3>Bloques de madera</h3>
            <p class="precio-card">2300$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="\img\cohete-multifuncion.png" alt="juguete3">
            <h3>Cohete Multifuncion</h3>
            <p class="precio-card">7200$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
    



    </section>
    <footer>

        <ul>
            <li><a href="#" class="quienes-somos">Quienes Somos</a></li>
            <li class="redes">
                <h4>Redes Sociales</h4>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram"></a></i></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
                </ul>
            </li>
            <li class="medios-de-pago">
                <h4>Medios de Pago</h4>
                <ul>
                    <li><i class="fa-brands fa-cc-mastercard"></i></i></li>
                    <li><i class="fa-brands fa-cc-visa"></i></li>
                </ul>
            </li>
            <li><a href='#' class="faq">F.A.Q</a></li>
            <li class="contactenos">
                <h4>Contactanos</h4>
                <ul class="contacto">
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <p>11 5451 8758</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <p>San Martin 890 - CABA</p>
                    </li>
                    <li><a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                </ul>

            </li>
        </ul>
    </footer>
</body>

</html>