<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juguetes Rayuela</title>
    <link rel="stylesheet" href="/css/product-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="topbar">
            <nav>
                <ul>
                    <li class="'logo"><img id="logo" src="/img/logo4.png" alt="logo"></li>
                    <li class="cart"><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <li class="my-account"><a href="#"><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </nav>
        </section>
        <section class="search-bar">
                 <input type='search' placeholder="Buscar">
                 <i class="fa-solid fa-magnifying-glass"></i>
        </section>
    </header>
    <section class="product">
        <img src="\img\stock-photo-musical-instruments-collection-on-white-background-top-view-436362988.jpg">
        <h4>Kit musical</h4>
        <article class="reviews">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <a href="#">Reviews</a>
        </article>
        <article class="precio">4250$</article>
        
    
    </section>
</body>
</html>