/**
* ? sans-serif , arial, tahoma, verdana ,    //   georgia , lucida , times new roman
**/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    font-family: tahoma; 
    /* font-family: cursive; */
    font-weight: 400;
}


.panel-title {
    text-align: center;
    margin: 25px 5px;
    font-size: 2em;
}


a {
    margin: 60px 60px;
}

.buttons-container {
    background-color: #adb6c4;
    display: flex;
    justify-content: center;
    margin: 25px 45px;
    border-radius: 6px;
    min-height: 80vh;
}



.the-row {
    display: flex;
    flex-direction: row;
    margin: 150px 0;
}


.col-1 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

.col-3 {
    display: flex;
    flex-direction: column;
}

.col-4 {
    display: flex;
    flex-direction: column;
}


button {
    min-width: 160px;
    background-color: #1a936f;
    border-radius: 6px;
    border: none;
    min-height: 42px;
    font-size: 19px;
    cursor: pointer;
}

button:hover {
    background-color: #1C6758;
}