/* FOOTER STYLES */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:  cursive;
    font-weight: 400;
    font-size: 14px;
}

footer {
    background-color:#C2DED1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-decoration: none;   
    width:100%;
    padding:15px;
}

ul  {
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: right;  
    width: 80%;
}

#footer-logo {
    width: 200px;
    /* display: flex; */
    /* align-items: flex-start; */
}

.lista-footer {
    display: flex;
    /* background-color: red; */
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #7D7D7D;
    text-decoration: none;
    align-items: center;
    width: 90%;
}


footer ul li a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    color: #7D7D7D;
    justify-content: center;
}

.lista-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.lista-medios-pago {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    text-decoration: none;
}

.lista-redes li {
    width: 25%;
    font-size: 1rem;
    text-decoration: none;

}

.lista-medios-pago li { 
    width: 25%;
    font-size: 2rem;
    color: #7D7D7D;
    text-decoration: none;
}

.lista-redes li img {
    width: 40px;
}

.lista-medios-pago li img {
    width: 40px;
    margin: 3px;
}

.lista-footer li {
    margin: 8px 4px;
    color: #7D7D7D;
    text-decoration: none;
}

ul li h4 {
    text-align: center;
    color: #7D7D7D;
    font-size: 25px;
    justify-content: center;

}

ul li h5 {
    font-size: 20px ;
}

@media (max-width:870px) {
    ul li h5 {
        display: none;
    }
}

@media (max-width:610px) {
    .medios-de-pago {
        display: none;
    }
    #footer-logo {
        width: 90%;
    }
}

