/* FOOTER STYLES */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:  cursive;
    font-weight: 400;
    font-size: 14px;
}

footer {
    /* background-color:#C2DED1;   */
    background-color: #54BAB9;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-decoration: none;   
    width:100%;
    padding:15px;
}

.footer-container {
    max-height: 120px;
}


ul  {
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: right;  
    width: 80%;
}

#footer-logo {
    width: 100px;
    display: flex; 
    align-items: flex-start; 
    display: none;
}

.lista-footer {
    display: flex;
    /* background-color: red; */
    flex-wrap: nowrap;
    justify-content: center;
    /* color: #7D7D7D; */
    color: #182747;
    text-decoration: none;
    align-items: center;
    width: 90%;
}


footer div div a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    color: #7D7D7D;
    justify-content: center;
}

.lista-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.lista-medios-pago {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    text-decoration: none;
}

.lista-redes div {
    width: 25%;
    font-size: 1rem;
    text-decoration: none;

}

.lista-medios-pago div { 
    width: 25%;
    font-size: 2rem;
    color: #182747;
    text-decoration: none;
}

.lista-redes div img {
    width: 40px;
}

.lista-medios-pago div img {
    width: 40px;
    margin: 3px;
}

.lista-footer div {
    margin: 8px 4px;
    color: #182747;
    text-decoration: none;
}

ul li h4 {
    text-align: center;
    color: #182747;
    font-size: 25px;
    justify-content: center;

}

div div  h5 {
    font-size: 20px ;
    justify-content: center;
}


div .lista-medios-pago div img {
    width: 40px;
    margin: 3px;
}

div .lista-footer div {
    margin: 8px 4px;
    color: #182747;
    font-style: bold;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



div div h5 {
    font-size: 14px ;

}



.lista-redes div {
    width: 25%;
    font-size: 1rem;
    text-decoration: none;

}

.lista-medios-pago div { 
    width: 25%;
    font-size: 2rem;
    color: #182747;
    text-decoration: none;
}

.lista-redes div img {
    width: 40px;
}

div .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}



div .medios-de-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.title_1 {
    display: flex;
    justify-content: center;
}

.title_2 {
    display: flex;
    justify-content: center;
}

.contenedor_ciudad {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 150px;
}



@media (max-width:870px) {
    ul li h5 {
        display: none;
    }
}

@media (max-width:610px) {
    .medios-de-pago {
        display: none;
    }
    #footer-logo {
        width: 90%;
    }
}




