@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

/* HEADER STYLES */

.header {
    position:relative;
    /*background-color: #C2DED1; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive, sans-serif;
    font-weight: 400;
    font-size: 14px; 


}

.header-style{
    width:100%;
    position: fixed;
    z-index: 1000;
    top:0;
    
}

/* Envio Gratis a Partir de 5K */
.header-top-banner {
    background-color: black;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.header-top-banner h4 {
    font-size: 1rem;
    color: white;
}
.header-top-banner i {
    margin: 10px;
    color: white;
    font-size: 18px;
}

/* --------Menu, buscar y botones -----------*/
#btn-menu{
    display: flex;
    justify-content: space-between;
    
}
.fa-solid, .fas{
    margin: 20px;
    font-size: 20px;
    color: rgb(151,151,151);
   
}
.nav-bar{
    background: white;
    display:flex;
    justify-content: space-between;
    color:rgb(109, 108, 108);
    cursor: pointer;
    font-size: 1.5em;
    width:100%;
}
.menu, .submenu{
    list-style:none;
    padding:0;
    margin: 0;
}
.menu{
    background: white;
    width:100%;
    margin-left: -100%;
    transition: all 0.5s;
}
.menu__link {
    display:block;
    padding:10px;
    color: rgb(151, 147, 147);
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 0;
}
.menu__link:hover {
    background: #e4faf0;

}
.submenu{
    height:0;
    overflow: hidden;
    transition:all 0.3s;

}
.submenu .menu__link{
    padding-left: 50px;
}
.mostrar {
    margin-left: 0;
}

.header-topbar {
    display: block;
    background-color: white;
    margin: 0px 0px 0px 0px ;
}
/*
.header-topbar-burger-menu{
    justify-self: flex-start;
    margin: 10px;
}
.header-topbar-burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}
.header-topbar-burger-menu i {
    color: rgb(151,151,151);
    font-size: 30px;
    margin: 5px;
    transition: all 700ms;
}
#header-links {
    display:none;
    text-decoration: none;
   
}
*/
/*---------------------heder Search Bar----------------*/

.header-search-bar {
    background-color: white;
    display: flex;
    width:100%;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    

}

#header-logo {
    width: 80px;
    margin: 0 40px 0 40px ;
    border-radius: 10%;
}


.header-search {
    background-color: rgb(233, 231, 231);
    width: 60%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px rgb(233, 231, 231);
    margin-top: 20px;
    
  }

  .header-search input {
    border: none;
    font: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    background-color: #54BAB9;
    /* background-color: #e4faf0; */
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .header-search button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 40px;

  }

  .header-search i {
    color: grey;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 8px;
  }

  /*----------- Carrito y Usuario------------ */
  .header-topbar-icons nav{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    width: 200px;
}

.header-topbar-each-icon a i{
    color: rgb(151,151,151);
    font-size: 20px;
    transition: all 700ms;
    margin: 10px;
}

.userLogged-style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100px;
    text-decoration: none;
 }
 
 .userLogged-style img {
     max-width: 50px;
 }
 
 .userLogged-style a {
     text-decoration: none;
     }
 
 .userLogged-style a:visited {
     color: black
 }

 /*------------ DOWN BAR------------- */
/*#header-down-bar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    color:black;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    font-family: cursive, sans-serif;
}
#header-down-bar li a {
    font-size: 20px;
    text-decoration: none;
    color: RGB(112 108 108);
    font-weight: bold;
    transition: all 450ms;
}
#header-down-bar li a:hover {
    color: #9abfad
}
*/

@media (min-width:750px) {
.header-topbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
        
    }

#menu-arrow{
    margin-left:0;
}

i.fa-solid.fa-bars {
        display:none;
    }

.nav-bar{
    justify-content: flex-end;
}
.menu{
    margin-left:0;
    width:100%;
    display: flex;
    justify-content: center;

}
 a.menu__link{
    background-color: white;
  
}
.container submenu{
    position: relative;
}
.submenu{
    background-color: white;
    position: absolute;
    top: 180px;
    width:300px;
    overflow: visible;
    z-index:1000;
    opacity:0;
    visibility:hidden;
}
.container-submenu:hover .submenu{
    opacity:1;
    visibility: visible;
}

.header-search {
    width: 40%;
    
    
  }

  .header-topbar-each-icon a i{
    font-size: 30px;
 
}

.header-search-bar {
    padding: 0px;
    justify-content: flex-start;
    
    

}

}
@media (max-width: 700px) {
   /*
    .header-topbar-icons nav{
        width: 100px;
    }
   .header-search {
        display: none;
    }*/
}

