
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

/* HEADER STYLES */

.header {
    position:relative;
    /* background-color: #C2DED1; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive, sans-serif;
    font-weight: 400;
    font-size: 14px; 

}

.header-style{
    width:100%;
    position: fixed;
    z-index: 100;
    top:0;
}

/* Envio Gratis a Partir de 5K */
.header-top-banner {
    background-color: black;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-top-banner h4 {
    font-size: 1rem;
    color: white;
}
.header-top-banner i {
    margin: 10px;
    color: white;
    font-size: 18px;
}

/* Menu, buscar y botones */
.header-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.header-topbar-burger-menu{
    justify-self: flex-start;
    margin: 10px;
}
.header-topbar-burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}
.header-topbar-burger-menu i {
    color: rgb(151,151,151);
    font-size: 30px;
    margin: 5px;
    transition: all 700ms;
}

#header-links {
    display:none;
    text-decoration: none;
}

.header-search-bar {
    background-color: white;
    display: flex;
    width:40%;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    

}

#header-logo {
    width:100px;
    margin: 5px;
    border-radius: 10%;
}


.header-search {
    background-color: rgb(233, 231, 231);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px rgb(233, 231, 231);
    margin-top: 20px;
    
  }

  .header-search input {
    border: none;
    font: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    background-color: white;
    background-color: #C2DED1;
  }

  .header-search button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 40px;

  }

  .header-search i {
    color: grey;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 8px;
  }

  /* Carrito y Usuario */
  .header-topbar-icons nav{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    width: 300px;
}

.header-topbar-each-icon a i{
    color: rgb(151,151,151);
    font-size: 30px;
    transition: all 700ms;
    margin: 10px;
}

.userLogged-style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40px;
    text-decoration: none;
 }
 
 .userLogged-style img {
     width: 70%
 }
 
 .userLogged-style a {
     text-decoration: none;
     }
 
 .userLogged-style a:visited {
     color: black
 }

 /* DOWN BAR */
#header-down-bar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    font-family: cursive, sans-serif;
}

#header-down-bar li a {
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 450ms;
}

#header-down-bar li a:hover {
    color: #9abfad
}

@media (min-width:701px) {
    .header-topbar-burger-menu {
        visibility: hidden;
    }
}

@media (max-width: 700px) {
    #header-down-bar {
        display: none;
    }
    .header-topbar-icons nav{
        width: 100px;
    }
    .header-search {
        display: none;
    }
}

