/* LOGGIN STYLES*/

* {
    box-sizing: border-box;
    font-family: 'cursive';
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    font-weight: 400;
  
 }

 body {
    width: 100%;
 }



.login {
    padding: 20px;
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    margin-top: 300px;
    margin-bottom: 50px;
    /* width: 100%; */
    align-items: center;
    
}

.login .form-input {
    display: block;
    margin: auto;
    padding: 7px;
    margin-top: 20px;
    justify-content: center;
    width: 30%;
    font-size: 16px;
    border-radius: 5px;
    min-height: 30px;
    border: none;
    background-color: #AEBDCA;
    outline: none;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.1);
}

.check-box {
    display: block;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width: 30%;
    font-size: 16px;
    border-radius: 5px;
    min-height: 30px;
    border: none;
    background-color: #AEBDCA;
}

.login .links {
 display: block;
 text-align: center;
 text-decoration: underline;
 font-style: italic;
 margin-top: 20px;
 margin-bottom: 60px;
 margin-left: 0px;
}

.login .links:visited {
    color: rgb(152, 13, 152);
}

.login .botonLogin {
    background-color: #D2DAFF;
}

.botonLogin:hover {
    background-color: #54BAB9;
}

.msg-error {
    color: tomato;
}
.errores ul {
    
    color: tomato;
    justify-content: flex-start;
    padding: 20px;
    display: block;
    align-items: center;
    margin: auto;

}