/* LOGGIN STYLES*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    font-weight: 400;
 }

 body {
    width: 100%;
    
 }

.login {
    padding: 20px;
    display: block;
    text-align: center;
    /* flex-wrap: wrap; */
    margin-top: 300px;
    /* width: 100%; */
    align-items: center;
    
}

.login input {
    display: block;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width: 30%;

}

.login .links {
 display: block;
 text-align: center;
 text-decoration: underline;
 font-style: italic;
 margin-top: 20px;
 margin-bottom: 60px;
}

.login .links:visited {
    color: rgb(152, 13, 152);
}

.botonLogin:hover {
    background-color: #cde7d9;
}

.msg-error {
    color: tomato;
}