* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
    /* font-family: cursive; */
    font-weight: 400;
    
}

body {
    margin: 25px 25px;
}

.page_title {
    display: flex;
    justify-content: center; 
    margin: 5px 5px;
    font-size: 2em;
}

.order_card {
    background-color: #D2DAFF;
    border-radius: 7px;
    margin: 50px 30px;
}

.order_card_data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 15px;

}

.order_card_data-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: 5px 25px;
    padding: 15px 15px;
    
}

.order_detail_data_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border: 1px solid black; */
    border-radius: 7px;
    margin: 0px 25px;
    padding: 15px 15px;
    background-color: #AAC4FF;
   
}

.data-box-links {
    text-decoration: none;
}

.data-box-links:visited {
    text-decoration: none;
    color: #576F72;
}



.order_card_data_box2 {
    margin: 0px 25px;
    padding: 5px 15px;
}

.order_detail {
    flex-direction: column;
    margin: 15px 15px;
    
}



.order_detail_img {
    max-width: 150px;
    flex-direction: row;
    /* border: 3px solid black;*/
    border-radius: 5px;
    margin: 7px;
}

.detalle_compra {
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 15px;
    border-radius: 7px;
    background-color: #EEF1FF;
    flex-wrap: nowrap;
    font-size: 0.8em;
    
}

.card_title {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 15px;
    text-decoration: none;
}

.user_title {
    font-size: 1.2em;
}

.card_items {
    margin: 5px;
}