* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.banner{
    width:100%;
    margin-top: 127px;
   
}
  
.banner img {
    width: 100%; 
    object-fit: cover;
    object-position: 0px 70%;
    
}  


.header {
    position:relative;
    background-color: white;
}
.header-style{
    width:100%;
    position: fixed;
    z-index: 100;
    top:0;
}
.top-banner {
    background-color: black;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.top-banner h4 {
    font-size: 1rem;
    color: white;
}
.top-banner i {
    margin: 10px;
    color: white;
    font-size: 18px;
}


h2.home_header {
                 font-size: 35px;
                 color: #999;
                 text-align: center;
                 margin: 20px;

}


.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: auto;
}


.container .card {
    width: 250px;
    margin: 8px;
    text-align: center;
   
}
 
.container .card img {
    width: 100%;  

}
.container .card div {
    width: 100%;
    background-color: #F15412;
    opacity: 0.7;
    padding: 20px;
    border-radius: 8px;
    transition: all 500ms;
  
}
.container .card div:hover{
    background-color: #FFA500;
    opacity: 0.7;
}

.container .card a {
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: 500ms;
   
}
.container .card a:hover{
        color: #303E37;
}
/*seccion tbn me gustaa*/
#h-tambien-te-puede-gustar   {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: rgb(112, 108, 108) ;
    padding: 10px 0px;
    margin: 5px;
  

 }

.tambien-te-puede-gustar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px ;
   background-color: white;
   margin:auto;
   width:90%;
   margin-bottom: 20px;
}
.card {
/*border: solid 1px #808080;*/
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    transition: all  500ms;
    
    
}
.card:hover {
    
    transform: scale(103%);

}
.card a{
    text-decoration: none;
}

.card img {
    width: 100%; 
}
.card h3 {
    text-align: center;
    margin: 5px;
    font-size: 18px;
   
  
}
.card .precio-card{
            text-align: center;
            margin: 5px;
            font-weight: 400;
            
}

.add-to-cart-button {
    background-color: rgb(45, 185, 138);
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 15px;
    margin-top: 10px;
    border: none;
    display: block;
    margin: auto;
    transition: all 500ms;
    border-radius: 2px;
}
.card .add-to-cart-button{
    font-size: 10px;
    margin: 5px;
    display: block;
    margin: auto;
}

.verTodosLosJuguetes {
    display: block;
    margin:auto;
    text-align: center;
}

.age_links {
    font-size: 1em;
}


@media (min-width: 450px)
{

    .footer-list-container {
      
        flex-direction: row;
        flex-wrap: wrap;
}


}
@media (min-width: 750px){
.banner img{
    height: 300px;
}
.tambien-te-puede-gustar{
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
}
}