h2 {
    margin-top: 230px;
    text-decoration: underline;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
}

p {
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}

h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

h4 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}