.titulo-req {
    margin-top: 230px;
    text-decoration: underline;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
}

.parrafo-freq {
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}

.titulo2-freq {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
}


.titulo3-freq {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px; 
}
