* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
    /* font-family: cursive; */
    font-weight: 400;
}

.the-title {
    text-align: center;
    background-color: #fff;
    margin: 25px 5px;
    font-size: 2em;
}

.product-card {
   background-color: #ecf8f8;
   border-radius: 8px;
   margin: 10px 25px;
   padding: 25px;
   min-width: 350px;
}

.product-title {
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-imgs {
   border-radius: 8px;
   margin: 15px;

   justify-content: end;
}

.product-items {
    padding: 5px;
}

.row-users {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 5px;
}

.user-card {
    background-color: #ecf8f8;
    border-radius: 8px;
    margin: 20px 20px;
    padding: 25px;
    align-items: center;
}

.user-items {
    padding: 5px;
}

.admin-button {
    margin: 40px 40px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #93C6E7;
    border: none;
    border-radius: 8px;
    min-width: 300px;
}

.admin-button:hover {
    background-color: #8EA7E9;
}