@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    font-weight: 400;
    font-size: 14px;
}
/* Header section*/
.header {
    position:relative;
    background-color: white;
}
.header-style{
    width:100%;
    position: fixed;
    z-index: 100;
    top:0;
}
.top-banner {
    background-color: black;
    font-size: 15px;
    height: 30px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.top-banner h4 {
    font-size: 1rem;
    color: white;
}
.top-banner i {
    margin: 10px;
    color: white;
    font-size: 18px;
}
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
/*
#menu {
    background-color: rgb(189,212,213);
}
*/
.topbar_iconos-header{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.topbar_nav a i{
    color: rgb(151,151,151);
    font-size: 30px;
    transition: all 700ms;
    margin: 5px;
}
.topbar_burger-menu{
    justify-self: flex-start;
}
.topbar_burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}
.topbar_burger-menu i {
    color: rgb(151,151,151);
    font-size: 30px;
    margin: 5px;
    transition: all 700ms;
}
#links {
    display:none;
    text-decoration: none;
}
#logo {
    width:80px;
    margin: 5px;
}
.search-bar {
    background-color: white;
    width:100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    background-color: white;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #D7D7D7;
  }
  .search input {
    border: none;
    font: 16px;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  .search button {
    all: unset;
    width: 44px;
    height: 40px;
  }
  .search i {
    color: grey;
    width: 44px;
    font-size: 18px;
    height: 34px;
    padding: 8px;
  }



/* Main section*/

main {
    width:100%;
    background-color: rgb(247, 249, 249);
    padding-bottom:20px;
    padding-top:20px;
    
}
section.bread-crumbs {
  /*  border-top: solid 2px rgb(197, 197, 197);
    border-bottom: solid 2px rgb(197, 197, 197);*/
    padding:10px;
    margin-top: 127px;
    background-color: white;
}

ul.breadcrumbs li{
  
    font-size: 12px;
}
ul.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;   
    
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: rgb(124, 124, 124);
    transition-property: all;
    transition-duration: all 1s;
    font-size: 20px;
}

ul.breadcrumbs li+li:before {
    padding: 5px;
    color: rgb(124, 124, 124);
    content: ">";
    font-size: 22px;
  }

  ul.breadcrumbs li a:hover {
    color:  #32afa9 ;
    text-decoration: underline;
  }
.product-display{
    margin-top: 20px;    
    display: flex;
    flex-flow: row wrap;
}
  

.product{
    display: block;
    margin:auto;
    width: 90%;
   color: rgb(112, 108, 108) ;
   margin-bottom: 20px;
   background-color: white;
   margin-top: 10px;
   /*box-shadow: 0px 0px 10px rgb(197, 193, 193);*/
    
}
.product_infoPrincipal {
    display:flex;
    flex-direction: column;
}
.product_infoPrincipal_productInfo{
    display:flex;
    flex-direction: column;
}
.product-info {
    margin-bottom: 10px;
}

/*--------------imagenes-----------------------*/

.product_infoPrincipal_images {
    position: relative;
    z-index: 80;
    overflow: hidden;
    
    
   

}
.imagen-principal{
    width:100%;
}

.imagenAdicional-2{
    display:none;
}
.imagenAdicional-3{
    display:none;
}
.imagenAdicional-4{
    display:none;
}
.imagenAdicional-5{
    display:none;
}
/*
.slides{
    height:100%;
    display: flex;
    flex-direction: row;
   
}
/*
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition:1s;
}*/
.product_infoPrincipal_images img {
        width:100%;
        margin: 5px;        
}

#imagen
.product_infoPrincipal_images .imagen-2 {
    display: none;
}
.product_infoPrincipal_images .imagen-3 {
    display: none;
}

div.dots{
    display:flex;
    justify-content: center;
}

.dots input{
    border: 2px solid  rgb(112, 108, 108);
    padding: 5px;
    margin:10px;
    border-radius: 10px;
    cursor: pointer;
    transition:1s;
    
}








.product_infoPrincipal_productInfo h1 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 800;
}
.product_infoPrincipal_productInfo h2 {
    text-align: center;
    color: rgb(112, 108, 108) ;
    padding: 10px 0px;
    margin: 5px;
    font-size: 22px;
    font-weight: 600;
}
span.reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*******************REVIEWS************************/
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    font-size: 22px;
  }

  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: rgb(225,132,51);
  }
   
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width:0;
   
  }
   
  .stars-inner::before {
    font-family: FontAwesome;
    font-size: 22px;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: rgb(255,164,28);
    
  }


.add-to-cart-button {
    background-color: rgb(45, 185, 138);
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 15px;
    margin-top: 10px;
    border: none;
    display: block;
    margin: auto;
    transition: all 500ms;
    border-radius: 2px;
}
.add-to-cart-button:hover {
    color:rgb(75, 75, 75);
    background-color:rgb(255,216,20);
}


.add-to-cart-button2 {
    background-color:rgb(45, 185, 138);
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
    text-align: center;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    border: none;
    font-size: 12x;
    font-weight: 400;
    margin: 10px;
    padding: 5px;
    display: flex;
    transition: all 0.3s;
    color: #fff;
    width: 250px;
}

.add-to-cart-button2 i {
    margin: 10px;
}
.add-to-cart-button2:hover {
    background-color: #BDE6F1;
    color: #73777B;
}

.add-to-cart-button2:active {
    transform: scale(1.05);
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}



.productInfo_envio {
    display:flex;
    flex-direction:column;
    align-items: center;
    color: rgb(112, 108, 108) ;
    margin-bottom:10px;
    margin-top: 10px;
    padding: 20px;
    border-bottom: 2px solid rgb(197, 197, 197);
    border-top: 2px solid rgb(197, 197, 197);
}
.productInfo_envio .shipping-icon {
    display: flex;
    flex-direction: row;
   
}
.productInfo_envio i {
    font-size: 18px;
    margin-right: 10px;
}
.productInfo_envio p strong {
    color: rgb(45, 185, 138);
    font-weight: 600;
}
.productInfo_envio form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0;

}
.productInfo_envio form button {
    background-color: white;
    border: none;
    color: rgb(112, 108, 108) ;
    font-size: 18px;
    width: 100px;
    margin-left: 10px;
    font-weight: 600;
  
    
}
.productInfo_envio input {
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
}
.productInfo_envio form button:hover {
        color:#999;
}

.productInfo_envio a {
    text-decoration: none;
    color: red;
    font-size: 10px;
    text-align: center;
    margin: 0;
    
}
.productInfo_envio p {
    text-align: left;
    margin-bottom: 10px;
}
.product_masInfo {
    color: rgb(168, 165, 165);
    margin-bottom: 10px;
    padding: 20px;
}
.product_masInfo h3 {
    font-weight: 700;
    color: rgb(112, 108, 108);
    border-bottom: 2px solid rgb(197, 197, 197);
}
.product_masInfo p{
    padding: 10px 0px;
}
    
table.info-table {
    width:100%;
    padding: 10px 0px;

}
.info-table tr td {
    border-bottom: 1px rgb(197, 197, 197) solid;
}

/* Tambien te puede gustar section*/

 #h-tambien-te-puede-gustar   {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: rgb(112, 108, 108) ;
    padding: 10px 0px;
    margin: 5px;
  

 }

.tambien-te-puede-gustar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px ;
   background-color: white;
   margin:auto;
   width:90%;
   margin-bottom: 20px;
}
.card {
/*border: solid 1px #808080;*/
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    transition: all  500ms;
    justify-content: center;
    
}
.card:hover {
    transform: scale(103%);

}
.card a{
    text-decoration: none;
    color: #576F72;
}

.card a:visited {
    color: #576F72;
}

.card img {
    width: 100%; 
}
.card h3 {
    text-align: center;
    margin: 5px;
    font-size: 18px;
   
  
}
.card .precio-card{
            text-align: center;
            margin: 5px;
            font-weight: 400;
            
}
.card .add-to-cart-button2{
    font-size: 10px;
    margin: 5px;
    display: block;
    margin: auto;
}

/*Seccion Formularios */
 .create-form {
    width: 90%;
    box-shadow: 0px 0px 10px #b9b4b4;
    margin:auto;
    margin-top: 180px;
    background-color: white;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width:600px;
    border-radius: 20px;
   
 }
 .main__form{
    background-color: rgb(210,218,255);
 }
 .control-formulario{
    padding-top:10px;
    padding-bottom: 10px;
 }

.control-formulario label{
    font-size: 18px;
    padding:5px 0px;
}

 .input-control{
    width: 100%;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 4px;

 }
 
 #form-edad-recomendada{
    display: flex;
    flex-direction: column;
 }
 #form-description{
    flex:90%;
 }
 .textarea{
    width: 90%;
  height: 150px;
  padding: 12px 0px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
 }
 
 .dimensiones{
    width: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
 }
 
 .form-buttons{
    flex:100%;
 }
 .form-button{
    background-color: rgb(45, 185, 138);
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 15px;
    margin-top: 10px;
    border: solid 1px rgb(197, 197, 197);
    transition: all 500ms;
    border-radius: 4px;
}
.form-button:hover {
    color:rgb(75, 75, 75);
    background-color:rgb(197, 194, 194);
    
}

.search-by-name{
    margin-top: 0px;
    margin-left: 50px;
}
 
.h1-edit-form{
    font-size: 25px;
    color:rgb(124, 124, 124);
    text-align: center;
    margin: 20px;
}


.titulo-categoria{
    margin-top: 220px;
    margin-left: 25px;
    font-size: 35px;
    color: #999999;
    text-align: center;
    
}

.space-div {
    margin-top: 220px;
}

.result_search_title {
    font-size: 2em;
    margin-top: 220px;
    margin-left: 50px;
}

.result_search_title2 {
    font-size: 2em;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 180px;
}

.stock-label {
    font-size: 1.3em;
}

.stock-input {
    font-size: 1em;
    max-width: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;

}

.stock-input2 {
    max-width: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
   
    
}

.secondary_img {
    margin: 25px 0px;
}

.medidas {
    max-width: 50px;
}


/*
.individual-review {
    padding:5px;
    margin: 5px;
    border-bottom: 2px solid rgb(197, 197, 197);
}
*/

.h2-review-section{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: rgb(112, 108, 108) ;
    padding: 10px 0px;
    margin: 5px;
}
.review-user-info{
    display:flex;
    padding: 5px;

}
.review-avatar {
    width:1.5%;
}

.errors {
    color:red;
    font-size: 18px;
}
@media (min-width: 361px){
.tambien-te-puede-gustar {
flex-direction: row;
}
.card {
    width: 45%;
}
}



@media (min-width: 760px) {
    .search {
        width: 500px;
        border-radius: 10px;
    }
    section.bread-crumbs {
       
        margin-top: 200px;
     
    }
.product_infoPrincipal{
    flex-direction: row;
    flex-wrap: nowrap;

}     
.navigation-manual{
    display:none;
}
   .product_infoPrincipal_images{
    position: relative;
    width: 55%;
   }

.mostrarImagenPrincipal{
    display: block;

    
}
.esconderImagen{
    display:none;
}
    
  .product_infoPrincipal img {
            
            margin:0;
        }

      .product_infoPrincipal_images .imagen-principal{
            width:100%;
        }
        .product_infoPrincipal_images .imagenAdicional-1 {
            display: block;
            width: 15%;
            z-index:100;
            position: absolute;
            top: 0px;
            left:0px;
            cursor: pointer
        }
        .product_infoPrincipal_images .imagenAdicional-2 {
            display: block;
            width: 15%;
            z-index: 100;
            position: absolute;
            top: 15%;
            left:0px;
            cursor: pointer;
        }
        .product_infoPrincipal_images .imagenAdicional-3 {
            display: block;
            width: 15%;
            z-index: 100;
            position: absolute;
            top: 30%;
            left:0px;
            cursor:pointer;
        }
        .product_infoPrincipal_images .imagenAdicional-4 {
            display: block;
            width: 15%;
            z-index: 100;
            position: absolute;
            top: 45%;
            left:0px;
            cursor:pointer;
        }
        .product_infoPrincipal_images .imagenAdicional-5 {
            display: block;
            width: 15%;
            z-index: 100;
            position: absolute;
            top: 60%;
            left:0px;
            cursor:pointer;
        }

        div.dots{
            display:none;
        }

        
.product_infoPrincipal_productInfo{
    width:45%
}
        .productInfo_info {
            height: 60%;
            display:flex;
            flex-direction:column;
            justify-content: center;
        }
        .productInfo_info h1{
            font-size: 55px;
        }
        .productInfo_envio{
            height: 40%;
            margin:0;
            justify-content: center;
        }
        .product_masInfo h3{
            font-size: 20px;
        }
        #h-tambien-te-puede-gustar   {
            font-size: 40px;
        }
        .card {
            width: 23%;
        }
       .tambien-te-puede-gustar {
        display: flex;
        flex-direction: row;
        width: 100%;
       }
/******************CREATE FORM********************/
/*.main__form{
    width: 100%;
    
}       
.form-logo{
    flex:80%;
}
.create-form {
        width: 65%;
        box-shadow: 0px 0px 10px #b9b4b4;
        margin-top: 10px;
        background-color: white;
        padding:10px;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width:1200px;
        border-radius: 20px;
   
     }
     
     .control-formulario{
        padding-top:10px;
        padding-bottom: 10px;
        flex: 40%;
       
    
     }
    .control-formulario label{
        font-size: 18px;
        padding:5px 0px;
    }
    
     .input-control{
        width: 90%;
        height: 30px;
        border: 2px solid #ccc;
        border-radius: 4px;
    
     }
     /*#descripcion {
        display: none;
     }*/
     /*
     .textarea{
      width: 90%;
      height: 150px;
      padding: 8px 0px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
      margin-left: 25px;
      margin-right: 30px;
     }
     .dimensiones{
        width: 40px;
        border: 2px solid #ccc;
        border-radius: 4px;
        
     }
     
     .form-buttons{
        display:flex;
        justify-content: center;
     }
     .form-button{
        background-color: rgb(45, 185, 138);
        font-size: 18px;
        color: white;
        padding: 10px;
        margin: 15px;
        margin-top: 10px;
        border: solid 1px rgb(197, 197, 197);
        transition: all 500ms;
        border-radius: 4px;
    }
    .form-button:hover {
        color:rgb(75, 75, 75);
        background-color:rgb(197, 194, 194);
        
    }
   
 */   
    
}
    
@media (min-width: 980px) {
    .search {

        width: 600px;
    }
    .product{
        max-width: 1000px;
    }
       
}