
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Coming Soon', cursive;
    font-weight: 400;
    font-size: 14px;
}

.top-header h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #7D7D7D;
}

.top-header i {
    margin: 10px;
    color: #7D7D7D
}

.banner img {
    width: 100vw;
    height: 100px;
    display: flex;
    object-fit: cover;
    object-position: 0px 70%;
    position: relative;
}  

.topbar {
    display: flex;
}

#menu {
    background-color: rgb(189,212,213);
}

.burger-menu  {
    align-self: center;
}

.burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}

.burger-menu i {
    color: rgb(151,151,151);
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    transition: all 700ms;
}

#logo {
    display: block;
    width: 19%;
    border-radius: 50%;
    text-align: center;
    color: #d6e7df;
    object-fit: contain;
    margin: 10px 10px;
    transition: 900ms;
}

#logo:hover {
    transform: scale(0.7);
}

.my-account a i{
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    transition: all 700ms;
}
.cart a i {
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    transition: all 700ms;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-left: 20px;
}

.search-bar i {
    color: #5D5B6A;
    display: block;
    font-size: 0.8rem;
    align-self: center;
    margin: 3px;  
}

.search-bar input {
    border-bottom: 2px solid green;
    border-radius: 5px;
    display: flex;
    align-self: center;
    border: none;
    background-color: #32AFA9;
    width: 90%;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(151,151,151);
    align-self: center;
}


#links {
    display:none;   
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.top-header {
    background-color:#C2DED1;
    font-size: 15px;
    height: 60px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

#rosa {
    background-color: rgb(248, 238, 237); 
}
#verde-agua {
    background-color: rgb(124,205,173);
} 
#azul {
    background-color: rgb(55,175,180);
}
#amarillo {
    background-color: rgb(225,171,2);
}

.texto {
    width: 80vw;
    padding: 15px;
    border:  solid black 5px;
    box-sizing: content-box;
}

ul  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: right;  
}

.lista-nav li i {
    transition: all 900ms;
    margin-right: 15px;
}

.lista-nav li i:hover {
    /*color: rgb(45, 185, 138);*/
    color: #32AFA9;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#C2DED1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/*
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Coming Soon', cursive;
    font-weight: 400;
    font-size: 14px;
}
body {
    width: 100%;
}

.top-header h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #7D7D7D;
}

.top-header i {
    margin: 10px;
    color: #7D7D7D
}

.banner img {
    width: 100vw;
    height: 100px;
    display: flex;
    object-fit: cover;
    object-position: 0px 70%;
    position: relative;
}  

.topbar {
    display: flex;
}

#menu {
    background-color: rgb(189,212,213);
}

.burger-menu  {
    align-self: center;
}

.burger-menu a {
    color: rgb(109, 108, 108);
    text-decoration: none;
    margin: 10px;
}

.burger-menu i {
    color: rgb(151,151,151);
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    transition: all 700ms;
}

#logo {
    display: block;
    width: 19%;
    border-radius: 50%;
    text-align: center;
    color: #d6e7df;
    object-fit: contain;
    margin: 10px 10px;
    transition: 900ms;
}

#logo:hover {
    transform: scale(0.7);
}

.my-account a i{
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    transition: all 700ms;
}
.cart a i {
    color: rgb(151,151,151);
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    transition: all 700ms;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-left: 20px;
}

.search-bar i {
    color: #5D5B6A;
    display: block;
    font-size: 0.8rem;
    align-self: center;
    margin: 3px;  
}

.search-bar input {
    border-bottom: 2px solid green;
    border-radius: 5px;
    display: flex;
    align-self: center;
    border: none;
    background-color: #32AFA9;
    width: 90%;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    border: none;
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(151,151,151);
    align-self: center;
}


#links {
    display:none;   
    text-decoration: none;
    
}



.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.top-header {
    background-color:#C2DED1;
    font-size: 15px;
    height: 60px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

#rosa {
    background-color: rgb(248, 238, 237); 
}
#verde-agua {
    background-color: rgb(124,205,173);
} 
#azul {
    background-color: rgb(55,175,180);
}
#amarillo {
    background-color: rgb(225,171,2);
}

.texto {
    width: 80vw;
    padding: 15px;
    border:  solid black 5px;
    box-sizing: content-box;
}

ul  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: right;  
}

.lista-nav li i {
    transition: all 900ms;
    margin-right: 15px;
}

.lista-nav li i:hover {
    color: rgb(45, 185, 138);
    color: #32AFA9;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#C2DED1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
*/


header {
    background-color:#C2DED1;
}
.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
       font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.whatsapp-button{
	margin-top:11px;
    font-size: 40px;
}

ul.breadcrumbs li{
  
    font-size: 12px;
}
ul.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 5px;   
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: rgb(124, 124, 124);
    transition-property: all;
    transition-duration: 1s;
}

ul.breadcrumbs li+li:before {
    padding: 5px;
    color: rgb(124, 124, 124);
    content: ">";
  }

  ul.breadcrumbs li a:hover {
    color:  #32afa9 ;
    font-size: 18px;
    text-decoration: underline;
  }

.product{
    display: block;
    margin:auto;
    width: 90%;
   color: rgb(112, 108, 108) ;
   margin-bottom: 20px;
    
}
.product-info {
    margin-bottom: 10px;
}
.product h1 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 800;
}
.product img {
        width: 100%;
        margin: 5px;
        display: block;
        margin: auto;        
}

h2 {
    text-align: center;
    color: rgb(112, 108, 108) ;
    padding: 10px 0px;
    margin: 5px;
    font-size: 22px;
    font-weight: 600;
}

.add-to-cart-button {
    background-color: rgb(45, 185, 138);
    font-size: 18px;
    color: white;
    padding: 10px;
    margin: 15px;
    margin-top: 10px;
    border: none;
    display: block;
    margin: auto;
    transition: all 500ms;
}
.add-to-cart-button:hover {
    font-size: larger;
    color:rgb(75, 75, 75);
    background-color:#f5f5f5;
}


.envio {
    color: rgb(112, 108, 108) ;
    margin-bottom:10px;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 2px solid rgb(197, 197, 197);
    border-top: 2px solid rgb(197, 197, 197);
}
.envio .shipping-icon {
    display: flex;
    flex-direction: row;
   
}
.envio i {
    font-size: 18px;
}
.envio .destacado {
    color: rgb(45, 185, 138);
    font-weight: 600;
}
.envio form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0;
   
}
.envio form button {
    background-color: white;
    border: none;
    color: rgb(112, 108, 108) ;
    font-size: 18px;
    width: 100px;
    margin-left: 10px;
    font-weight: 600;
  
    
}
.envio input {
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
}
.envio form button:hover {
        color:#999;
}

.envio a {
    text-decoration: none;
    color: red;
    font-size: 10px;
    text-align: center;
    align-self:flex-start;
    margin: 0;
}
.mas-info p {
    text-align: left;
    margin-bottom: 10px;
}
.mas-info {
    color: rgb(168, 165, 165);
    margin-bottom: 10px;
}
.mas-info h3 {
    font-weight: 700;
    color: rgb(112, 108, 108);
    border-bottom: 2px solid rgb(197, 197, 197);
}
    
table.info-table {
    width:100%;
}
.info-table tr td {
    border-bottom: 1px rgb(197, 197, 197) solid;
}

 #uno   {
    font-size: 25px;
    font-weight: 700;

 }

.tambien-te-puede-gustar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px ;
   
}
.card {
border: solid 1px #808080;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    /*box-shadow: 0px 0px 10px rgb(182, 177, 177);*/
    border-radius: 5px;
    
}
.card img {
    width: 100%; 
}
.card h3 {
    text-align: center;
    margin: 5px;
  
}
.card .precio-card{
            text-align: center;
            margin: 5px;
            font-weight: 400;
            
}
.card .add-to-cart-button{
    font-size: 10px;
    margin: 5px;
    display: block;
    margin: auto;
}
footer {
    background-color:#C2DED1;
}

footer ul {
    display: flex;
    flex-direction: column;
    color: #7D7D7D;
}

footer ul li a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    color: #7D7D7D;
}

.lista-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista-medios-pago {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.lista-redes li {
    width: 25%;
    font-size: 1rem;
}

.lista-medios-pago li { 
    width: 25%;
    font-size: 2rem;
    color: #7D7D7D;
}

.lista-redes li img {
    width: 35px;
}

.lista-medios-pago li img {
    width: 35px;
    margin: 3px;
}

.lista-footer li {
    margin: 8px 4px;
    color: #7D7D7D;
}

ul li h4 {
    text-align: center;
    color: #7D7D7D;
}

@media (min-width: 760px) {
    .burger-menu{
        display: block;
        align-self: flex-end;
        transition: all 1s;
    }
    div,.burger-menu:hover{
        color:  #32afa9 ;
        font-size: 18px;
    }

    #links {
        display: flex;
        flex-direction: row;
       

       
        
    }
    #links li {
        justify-content: space-around;
        font-weight: bold;
    }

   

h2.precio {
    font-size: 22px;
    font-weight: 600;
}
        
  .info-principal {
            display: flex;
                }
    
    .info-principal img {
            width:65%;
            margin:0;
        }
        .info-principal article {
            width: 35%;
        }

.product-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around; 
                               
        }
 span.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

h1.product-name {
    align-items: flex-start;
}
    
        .card {
            width: 23%;
        }
       .tambien-te-puede-gustar {
        display: flex;
        flex-direction: row;
       }
       footer ul {
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .lista-footer li {
        align-self: flex-start;
        margin-top: 25px;
    }
    
}
    


@media (min-width: 980px) {
    header {
        width: 100vw;
    
    }
    #logo {
        width: 10%;
        margin-left: 20px;
    }
    
    .search-bar {
        margin-left: 20px;
    }
   
    .product{
        max-width: 800px;
    }
    
    
}