
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:ital,wght@0,300;1,300;1,400&family=Roboto:wght@300&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
</style>
/* font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;

*/


* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body {
    font-family: 'Montserrat';
    width: 100%;
}

.top-header {
    background-color: #cde7d9;
    color: rgb(124, 124, 124);
    font-size: 15px;
    height: 60px;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}  
.burger-menu a {
    color: rgb(109, 108, 108);
    font-size: 24px;
}

#links {
    display:none;
    
}
.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-logo img {
    width: 150px;
    margin-top:0;
    margin-bottom: 0;
    
}

.nav a {
    color: rgb(124, 124, 124);
    font-size: 24px;
    padding: 5px;
    
}
.search-bar input {
    width: 90%;
    border: rgb(124, 124, 124) solid 1px;
    height: 32px;
}
.search-nav {
    display:flex;
}
.search-nav button {
    width:10%;
    height: 32px;
    
}
.search-nav i {
    color: rgb(109, 108, 108);
    margin:0;
}

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
       font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.whatsapp-button{
	margin-top:11px;
}

ul.breadcrumbs li{
    display: inline;
    font-size: 12px;
}
ul.breadcrumbs {
    list-style: none;
    margin: 5px;   
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: rgb(124, 124, 124);
    transition-property: all;
    transition-duration: 0.25ms;
}

ul.breadcrumbs li+li:before {
    padding: 5px;
    color: rgb(124, 124, 124);
    content: ">";
  }

  ul.breadcrumbs li a:hover {
    color: #ffcbbf;
    font-size: 20px;
    text-decoration: underline;
  }

.product{
    margin: auto;
    
}
.product h1 {
    font-size: 40px;
    color: rgb(112, 108, 108) ;
}
.product img {
        width: 85%;
        margin: 5px;
        display: block;
        margin: auto;        
}

.checked {
    color: rgb(238, 255, 0);
}
.add-to-cart-button {
    width: 75%;
    background-color: rgb(47, 184, 194);
    font-size: 18px;
    color: white;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 15px;
    border: none;
    display: block;
    margin: auto;
}
.tambien-te-puede-gustar-carrousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgb(182, 177, 177);
    border-radius: 5px;
    
}
.card img {
    width: 100%; 
}
.card h3 {
    text-align: center;
    margin: 5px;
}
.card .precio-card{
            text-align: center;
            margin: 5px;
            font-weight: 400;
            
}
.card .add-to-cart-button{
    width: 100%;
    font-size: 10px;
    margin: 5px;
    display: block;
    margin: auto;
}

footer {
    background-color: #baebd1;
    display: flex;
    color: #4b7a7a;
    font-size: 14px;
    width: 100%;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
   
}
.quienes-somos, .faq {
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    color: #4b7a7a;
    font-size: 14px;
    
}
footer ul li h4 {
    color: #4b7a7a;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    
}

.redes h4 {
    display: block;
}
.redes ul {
    display:flex;
    flex-direction: row;
    list-style: none;
    
  }
.redes ul li a {
    color: #607e7e;
    margin-left:0px;
    margin-right: 5px;
    padding: 0px 5px;
    font-size: 20px;
}
.medios-de-pago ul {
    display:flex;
    flex-direction: row;
    list-style: none;
}

.medios-de-pago ul li {
    margin-left:0px;
    margin-right: 5px;
    padding: 0px 5px;
    font-size: 20px;
}
.contacto li {
    display: flex;
}
.contacto li i {
    margin-left:0px;
    margin-right: 5px;
    padding: 0px 5px;
    font-size: 18px;
}

.contacto li p {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
}
.contacto li a {
    color: #607e7e;
    margin-left:0px;
    margin-right: 5px;
    padding: 0px 5px;
    font-size: 20px;
    
}