
* {
    padding: 20px;
}

h2 {
    margin-top: 230px;
    text-decoration: underline;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
}

p {
    padding: 20px;
    font-size: 20px;
    font-style: italic;
}


h3 {
    padding: 20px;
    font-size: 15px;
}

.quienesSomos-img {
    width: 15%;
    display: block;
    margin: auto;
   
}