/* REGISTER STYLES*/

.register {
    margin-top: 220px;    
}

.register h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register form{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 padding: 0px 40px 0px 40px;
 align-items: center;
 justify-content: center;

}

.errores ul {
    color: tomato;
    justify-content: center;
    padding: 20px;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;

}

.register form input {
    margin: 5px 5px;
    width: 30vw;
    padding: 7px;
    border-radius: 5px;
    min-height: 30px;
    border: none;
    background-color: #AEBDCA;
    outline: none;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.1);
}

.space {
    padding: 15px 0px 0px 0px;
}
.register .register-look-for-img {
    text-align: center;
    /* justify-content: center; */
    
}

.register .register-look-for-img h4 {
    text-align: center;
}

.terminos {
    text-align: center;
    align-items: center;
}

.terminos a {
    justify-content: center;
}

.register-termYCond {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

.register .register-termYCond:visited {
    /* color: rgb(152, 13, 152); */
    color: #000;
}

#buttonRegister {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
    padding: 10px;
    width: 60vw;
}

#buttonRegister button {
    width: 25%;
    text-align: center;
    position: relative;
}


.button-register {
    border-radius: 6px;
    border: none;
    outline: none;
    min-height: 35px;
    padding: 7px;
    margin: 3px;
    background-color: #D2DAFF;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.1);
}

#buttonRegister button:hover {
    background-color: #54BAB9;
}

.msg-error {
    color: tomato;
}

.links a:visited {
    color: black;
}

.register-termYCond a:visited {
    color: black;
}