* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
    /* font-family: cursive; */
    font-weight: 400;
}

.list-title {
    text-align: center;
    background-color: #fff;
    margin: 25px 5px;
    font-size: 2em;
}

.list-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
} 

.item-card {
    background-color: #f6bd60;
    border-radius: 8px;
    margin: 25px 45px;
    padding: 25px;
}

.items {
    margin: 9px 0;
}

.image-items {
    width: 150px;
    border-radius: 18px;
}

.item-anchor {
   color: #000;
}

.item-anchor:visited {
    color: #000;
}

.admin-button {
    margin: 40px 45px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FD841F;
    border: none;
    border-radius: 8px;
    min-width: 300px;
}

.admin-button:hover {
    background-color: #E14D2A;
}