* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.carrito{
    min-height: 50vh;
    max-width: 1000px;
    margin: auto;
} 

.titulo {
    font-size: 1.2rem;
  
}

.title {
    font-size: 1.1rem;
}

.table__productos{
    display: flex;
}

.table__productos img{
    width: 8.5rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }

  img {
    max-width: 130px;
  }

  tbody {
    width: 50vw;
  }

  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .hide, .remove{
    display: none;
  }

.reminder {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px;
    display: flex;
    flex-direction: row;
}

.add-to-cart-button2 {
    /* background-color:rgb(45, 185, 138); */
    background-color: #54BAB9;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
    text-align: center;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    border: none;
    font-size: 15x;
    font-weight: 400;
    
    padding: 9px 15px;
    display: flex;
    transition: all 0.3s;
    color: #fff;
    text-decoration: none;
}


.add-to-cart-button22 {
    /* background-color:rgb(45, 185, 138); */
    background-color: #54BAB9;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
    text-align: center;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    border: none;
    font-size: 13x;
    font-weight: 400;
    
    padding: 9px 15px;
    display: flex;
    transition: all 0.3s;
    color: #fff;
    text-decoration: none;
}

.add-to-cart-button2:hover {
    background-color: #BDE6F1;
    color: #73777B;
}

.add-to-cart-button22:hover {
    background-color: #BDE6F1;
    color: #73777B;
}

/* .add-to-cart-button22:active {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

.button-new-class2 {
    background-color: #DDD;
    color: #EEE
}

.button-new-class3 {
    background-color: #DDD;
    color: #EEE
}
.button-new-class:active {
    transform: scale(1.05);
}

.new-button {
     /* background-color:rgb(45, 185, 138); */
     background-color: #FF8B13;
     /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
     text-align: center;
     align-items: center;
     border-radius: 6px;
     justify-content: center;
     border: none;
     font-size: 13x;
     font-weight: 400;
     min-width: 100px;
     min-height: 50px;
     padding: 9px 15px;
     display: flex;
     transition: all 0.3s;
     color: #fff;
     text-decoration: none;
     margin-right: 100px;
}

.hide-button {
    display: none;
}

.show-button {
    display: flex;
}



.new-button:active {
    transform: scale(1.05);
}

.new-button:hover {
    background-color: #F15412;
}

.link-mis-compras {
    text-decoration: none;
}
/* .add-to-cart-button2:active {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

.center-form1-button {
    margin: 25px 35px 0 0;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cart-styles {
    margin: 25px 25px;
}

.total-titulo {
    margin-left: -35px;
}

.button-total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -60px;
    padding: 0 0 0 10px;
}

.total-button {
    margin-right: 50px;
    padding: 15px;
    min-width: 120px;
}

.botoncito-link {
    text-decoration: none;
}

.user-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 30px;
    
}

.container {
    display: flex;
    flex-direction: row;
}

.user-container2 {
    width: 100%;
     display: flex;
     flex-direction: row; 
     justify-content: space-between;
     align-items: center;
     /* border: 1px solid rgb(0, 0, 0, 0.1); */
     border-radius: 25px;
     margin: 30px;
 }

.user-container3 {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 0px 30px; 
}

.ultimate-container {
    display: flex;
    
}

.titulo-tus-datos {
    text-align: left;
    font-size: 1.3rem;
    margin: 20px 0 0 55px;
}

.labels {
    margin: 0px 5px;
    padding: 5px;
}

.user-inputs {
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    margin: 25px 5px 15px 5px;
    padding: 5px;
}

.user-inputs:focus {
    order: 1px solid rgb(255, 0, 0, 0.1);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.total-margin {
    display: flex;
    flex-direction: row;
    
}

.container {
    display: flex;
}

.vertical {
    margin: 15px;
}

.btnoo {
    margin: 0 90px 0 0;
}

.total-container {
    display: flex;
}

