.banner img {
    width: 90vw;
    display: block;
    }
#menu {
    background-color: rgb(189,212,213);


}
#logo {
    display: block;
    width: 200px;
    margin: left;
}

.my-account a i{
    color: rgb(151,151,151);
    font-size: 25px;
    display: block;
    }
.cart a i {
    color: rgb(151,151,151);
    font-size: 24px;
    display: block;
}

.search-bar i {
    color: rgb(151,151,151);
    display: block;
    
}
.search-bar input {
    border: solid 1.5px rgb(151,151,151);
    border-radius: 15px;
    display: block;
}


#rosa {
    background-color: rgb(248, 238, 237); ;
}
#verde-agua {
    background-color: rgb(124,205,173)  ;
} 
#azul {
    background-color: rgb(55,175,180);
}
#amarillo {
    background-color: rgb(225,171,2);
}
.texto {
    width: 80vw;
    padding: 15px;
    border:  solid black 5px;
    box-sizing: content-box;
}