<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>

<body>
  <%- include('../views/partials/header.ejs') %>
    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>

    <section class="galeria-juguetes">
        <article class="producto">
            <a href="#">
                <img src="/img/banco didactico-4-en1.jpg" alt="banco">
                <h3>Banco didáctico</h3>
            </a>
            <p>$ 4800</p>
            <p class="cuotas">3 cuotas de $ 1600</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productos/kit-musical">
                <img src="/img/cocodrilo-de-arrastre.png" alt="cocodrilo">
                <h3>Cocodrilo de arrastre</h3>
            </a>
            <p>$ 3200</p>
            <p id="cuotas">3 cuotas de $ 1066</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productos/kit-musical">
                <img src="/img/cohete-multifuncion.png" alt="cohete">   
                <h3>Cohete multifunción</h3>
            </a>
            <p>$ 7900</p>
            <p class="cuotas">3 cuotas de $ 2630</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>
            
        </article>

        <article class="producto">
            <a href="/productos/kit-musical">
                <img src="/img/pizarra-mesa-expresion.png" alt="pizarra">
                <h3>Mesa expresión</h3>
            </a>
            <p>$ 4500</p>
            <p class="cuotas">3 cuotas de $ 1500</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productos/kit-musical">
                <img src="/img/torre-geometrica madera.png" alt="torre">
                <h3>Torre geométrica</h3>
            </a>
            <p>$ 1600</p>
            <p class="cuotas">3 cuotas de $ 530</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

        <article class="producto">
            <a href="/productos/kit-musical">
                <img src="/img/carro-andador-de-madera.jpg" alt="carrito">
                <h3>Carro andador</h3>
            </a>
            <p>$ 2500</p>
            <p class="cuotas">3 cuotas de $ 830</p>
            <button type="submit" class="add-to-cart-button">AGREGAR AL CARRITO<i class="fa-solid fa-bag-shopping"></i></button>

        </article>

    </section>
    <section class="categorias">
        <article class="producto-categoria">
            <a href="/productos/kit-musical">
                <h3>Juguetes de madera</h3>
                <img src="/img/valija-carpintero.png" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productos/kit-musical">
                <h3>Rompecabezas</h3>
                <img src="/img/rompecabezas-animales.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productos/kit-musical">
                <h3>Niños 2 a 4 años</h3>
                <img src="/img/4anios.jpg" alt="banco">
            </a>
        </article>

        <article class="producto-categoria">
            <a href="/productos/kit-musical">
                <h3>Pizarras</h3>
                <img src="/img/pizarras.png" alt="banco">
            </a>
        </article>

   </section>
<%-include('../views/partials/footer.ejs')%>
   
</body>

</html>