<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/not-found-404-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>


<header>
    <%- include('../views/partials/header.ejs') %>
</header>

<body>
<div class="imgBarco404">
    <img src="/img/Barco V6.jpg" alt="">
</div>

<div class="imgCielo404Right">
    <img src="/img/Barco V6 Right.jpg" alt="">
</div>

<div class="imgCielo404Left">
    <img src="/img/Barco V6 Left.jpg" alt="">
</div>

<div class="imgBarquitoOnly">
    <img src="/img/Barco V6 BarquitoOnly1.jpg" alt="">
</div>

<div class="message404">
    <h2>404</h2>
    <h3>Página no encontrada</h3>
</div>

</body>


<footer>
    <%-include('../views/partials/footer.ejs')%>
</footer>
