<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>
    <link rel="stylesheet" href="/css/not-found-404-styles.css">
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    
</head>


    <%- include('../views/partials/header.ejs') %>



<div class="space404"><h1>*</h1></div>

<div class="fullMessage">
 <img  class="imgBarco404" src="/img/Barco V6.jpg" alt="">

 <img class="imgCielo404Right" src="/img/Barco V6 Right.jpg" alt="">

 <img  class="imgCielo404Left" src="/img/Barco V6 Left.jpg" alt="">

 <img class="imgBarquitoOnly" src="/img/Barco V6 BarquitoOnly1.jpg" alt="">

<div class="message404">
    <h2>404</h2>
    <h3>Página no encontrada</h3>
</div>

</div>

<footer>
<%-include('../views/partials/footer.ejs')%>
</footer>
    

