<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/pruebahome-styless.css" title="cont">
        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
        <title>Rayuela</title>
    </head>

<body>
    
    
    
    <section class="banner" id="home-banner">
        <img src="\img\banner-azul.png" alt="juguetes con fondo verde">
    </section>


<main>
        <h2 class="home_header">Elegí por Categoría</h2>


    <section id="juguetes_home">

        <article class="unicoIrrepetible">
            <% categorias.map(e => { %>
            <a href="/categorias/<%= e.categoria.replace(' ','').toLowerCase() %>">
                <img src="<%= e.img %>" alt="banco">
                <h3><%= e.categoria %></h3>
            </a>
            <% }) %>
        </article>    
        
        
    </section>

    <h2 class="home_header">Elegí por Edad</h2>
 
    <section class="home_categoria">
        <article class="home_categoria_card">
            <a href="#">
                <img src="/img/categoria-6meses.png" alt="banco">
                <h3>De 6 meses a un año</h3>
            </a>
        </article>

        <article class="home_categoria_card">
            <a href="#">
                <img src="/img/categoria-1año.png" alt="banco">
                <h3>De 1 a 3 años</h3>
            </a>
        </article>

        <article class="home_categoria_card">
            <a href="#">
               
                <img src="/img/categoria-3años.png" alt="banco">
                <h3>De 3 a 6 años</h3>
            </a>
        </article>

        <article class="home_categoria_card">
            <a href="#">
                <img src="/img/categoria-6años.png" alt="banco">
                <h3>Mas de 6 años</h3>
            </a>
        </article>

   </section> 
</main>


</body>
</html>