<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>


<body>
    <!--<%- include('../partials/header.ejs') %>-->
    <p>
        
        <% data.map(e => { %>
        <p><%= e.nombre %></p>
        <% }) %>
    </p>
    
<%- include('../partials/footer.ejs') %>
</body>
</html>