<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head.ejs')%>

<body>
   <%-include('../partials/header.ejs')%>
   <%-include('../partials/whatsappButton.ejs')%>
    <section class="bread-crumbs">
        <ul class="breadcrumbs">
            <li><a href="/views/home.html>=">home</a></li>
            <li><a href="productCategory.html">instruentos musicales</a></li>
            <li><a href="productDetail.html">kit instrumento musical</a></li>
        </ul>
    </section>

    
    <section class="product">
        <article class="info-principal">

            <img src="\img\instrumentos.png">

            <article class="product-info">
                <span class="info">
                    <h1 class="product-name">Kit musical</h1>
                    <h2 class="precio">4250$</h2>
                    <form class="add-to-cart" method="GET" action="/add-to-cart.html">
                        <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping">
                            </i>AGREGAR AL CARRITO</button>
                    </form>
                </span>

                <span class="envio">
                    <div class='shipping-icon'>
                        <i class="fa-solid fa-truck"></i>
                        <p class="destacado"> Envio gratis </p> _a partir de 5000$</p>
                    </div>

                    <form action="/" method="post">
                        <input type="text" name="cp" placeholder="Tu codigo postal">
                        <button type="submit" ">CALCULAR</button>                
                    </form>
                 <a href=" https://codigopostal.com.ar/">No se mi CP</a>
                            </div>
                </span>
            </article>
        </article>
            <article class="mas-info">
                <h3>Descripcion</h3>
                <p>El Kit musical Golden 6 piezas incluye:
                    Cascabel, Flauta 20 cm, Xilofon, Maraca Baby, Castañuela y Guiro (Percusión).
                    Todos los instrumentos vienen dentro de una bolsa de Tela, los colores van rotando de acuerdo a la
                    disponibilidad de stock.</p>
            </article>
            <article class="mas-info">
                <h3>Información Adicional </h3>
                <table class="info-table">
                    <tr>
                        <td>Edad recomendada</td>
                        <td>+ 2 años</td>
                    </tr>
                    <tr>
                        <td>Materiales</td>
                        <td>Madera y metal</td>
                    </tr>
                    <tr>
                        <td>Dimensines</td>
                        <td>20cm x 30 cm x 15 cm</td>
                    </tr>
                </table>
            </article>
    </section>
    <h2 id="uno">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        <article class="card">
            <img src="/img/xilofon1.png" alt="juguete1">
            <h3>Xilofón</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="/img/maracas.png" alt="juguete2">
            <h3>Maracas</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="\img\bloques-paraguas.png" alt="juguete3">
            <h3>Bloques de madera</h3>
            <p class="precio-card">2300$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
        <article class="card">
            <img src="\img\cohete-multifuncion.png" alt="juguete3">
            <h3>Cohete Multifuncion</h3>
            <p class="precio-card">7200$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
        </article>
    </section>
   <%-include('../partials/footer.ejs')%>
</body>
</html>