<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/footer-styles.css"> 
    <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
    <title>Rayuela</title>
</head>

<body>
    
    
    <footer>
        <ul class="lista-footer">
            
            <li>
                <img id="footer-logo" src="/img/logo5.png" alt="logo">
            </li>
            

            <li class="medios-de-pago">
                <h4>Medios de Pago</h4>
                <ul class="lista-medios-pago">
                    <li><img src="/img/icons8-gift-card-48.png" alt=""></li>
                    <li><img src="/img/icons8-visa-48.png" alt=""></li>
                    <li><img src="/img/icons8-mastercard-48.png" alt=""></li>
                </ul>
            </li>

            <li class="redes">
                <h4>Seguínos</h4>
                <ul class="lista-redes">
                    <li><a href="#"><img src="/img/icons8-twitter-48.png" alt=""></a></li>
                    <li><a href="#"><img src="/img/icons8-instagram-48.png" alt=""></a></li>
                    <li><a href="#"><img src="/img/icons8-twitch-48.png" alt=""></a></li>
                </ul>
            </li>
            <li>
                <h5><i class="fa-solid fa-location-dot"></i> Ciudad Autónoma de Buenos Aires, República Argentina</h5>
            </li>
           
            
        </ul>
       
    </footer>

</body>

</html>

