<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-styles.css">
    <title>Document</title>
</head>
        <header class="header-style">
            <section class="header-top-banner">
                <i class="fa-solid fa-truck"></i>
                <h4>Envío gratis a partir de $ 5000</h4>
            </section>
            
            <section class="header-topbar">
                
                <div class="header-search-bar">
                    <!-- <section > -->
                        <a href="/"><img id="header-logo" src="/img/logo5.png" alt="logo"></a>
                        <form class="header-search">
                        <input type="search" name="q" placeholder="Buscar...">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    <!-- </section> -->
    
                </div>
                  
            

               
                <span class="nav-bar" id="btnMenu">
                    <i class="fa-solid fa-bars"></i>
                    <div class="header-topbar-icons">
                        <nav>
                            <div class="header-topbar-each-icon">
                                <a href="/carrito"><i class="fa-solid fa-bag-shopping"></i></a>
                            </div>
    
                                
                            <div class="header-topbar-each-icon">
                                <% if (!locals.isLogged) { %>
                                <a href="/login"><i class="fa-solid fa-user"></i></a>
                                <% } %>
                           </div>
    
                           <div class="userLogged-style">    
                            <% if (locals.isLogged) { %>
                                <% if (locals.userLogged.user_img == "" ) { %>
                                    <a href="/usuario/<%= locals.userLogged.id %>"> <img src="/img/users/undefined-user1280.png" alt="fotoPerfil" class="user-style__img"> </a> 
                                          <% } else { %> 
                                    <a href="/usuario/<%= locals.userLogged.id %>"> <img src="/img/users/<%= locals.userLogged.user_img %>" alt="fotoPerfil" class="user-style__img"> </a>   
                                          <% } %>
                  
                                Hola <%= locals.userLogged.user_first_name %>
                                <a href="/logout" class="user-style__logout">Logout</a>
                            <% } %>
                            </div>
                        </nav>
                    </div>
    
                </span>
            </section>
                <nav class="main-nav">
                    <ul class="menu" id="menu">
                        <li class="menu__item"><a class="menu__link" href="/">Inicio</a></li>
                        <li class="menu__item"><a class="menu__link" href="/quienesSomos">Quienes Somos</a></li>
                        <li class="menu__item container-submenu">
                             <a class="menu__link submenu-btn" id="submenu-btn-1" href="#">Por categoria <i class="fa-solid fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li class="menu__item"><a class="menu__link" href="/categorias/1">Sensoriales</a></li>
                                    <li class="menu__item"><a class="menu__link" href="/categorias/2">Musucales</a></li>
                                    <li class="menu__item"><a class="menu__link" href="/categorias/3">Ingenio</a></li>
                                    <li class="menu__item"><a class="menu__link" href="/categorias/4">Moviminto</a></li>
                                </ul>
                         </li>
                         <li class="menu__item container-submenu">
                            <a class="menu__link submenu-btn" id="submenu-btn-2" href="#">Por edad <i class="fa-solid fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="menu__item"><a class="menu__link" href="/edad/1">De 6 meses a 1 año</a></li>
                                <li class="menu__item"><a class="menu__link" href="/edad/2">De 1 año a 3 años</a></li>
                                <li class="menu__item"><a class="menu__link" href="/edad/3">De 3 a 6 años</a></li>
                                <li class="menu__item"><a class="menu__link" href="/edad/4">Mas de 6 años</a></li>
                             </ul>
                        </li>    
                        <li class="menu__item"><a class="menu__link" href="/productos/">Productos</a></li>
                        <li class="menu__item"><a class="menu__link" href="/contacto">Contacto</a></li>
                    </ul>
                </nav>
            

     
            

            <script src="/js/menu.js"></script>
        </header>
       

</html>
