<h2 id="h-tambien-te-puede-gustar">Tambien te puede gustar</h2>
    <section class="tambien-te-puede-gustar">
        <article class="card">
            <a href="#">
             <img src="/img/xilofon1.png" alt="juguete1">
            <h3>Xilofón</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
            </a>
        </article>
        <article class="card">
            <a href="#">
                 <img src="/img/maracas.png" alt="juguete2">
            <h3>Maracas</h3>
            <p class="precio-card">5800$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
            </a>
        </article>
        <article class="card">
            <a href="#">
                <img src="\img\bloques-paraguas.png" alt="juguete3">
            <h3>Bloques</h3>
            <p class="precio-card">2300$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
            </a>
        </article>
        <article class="card">
           <a href="#"> 
            <img src="\img\cohete-multifuncion.png" alt="juguete3">
            <h3>Cohete</h3>
            <p class="precio-card">7200$</p>
            <button type="submit" class="add-to-cart-button"><i class="fa-solid fa-bag-shopping"></i> AGREGAR AL
                CARRITO</button>
            </a>
        </article>

    </section>