
<link rel="stylesheet" href="/css/whatsapp.css">



    <a href="https://api.whatsapp.com/send?phone=1155996575&text=Hola. como te podemos ayudar?%21%20." class="whatsapp" target="_blank">
        <img src="/img/icons8-whatsapp-48.png" alt="">
        <!--<i class="fa fa-whatsapp whatsapp-button"></i>-->
    </a>