<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/control-panel-styles.css">
</head>
<body>
    

    <div class="all_container">

        <h1>Soy Control Panel</h1>

        
                <a href="/product-panel">
                    <button type="submit">Product Panel</button>
                </a>
           
                <a href="/crear-producto">
                    <button type="submit">Crear Producto</button>
                </a>
           

                
                <a href="/order-list">
                    <button type="submit">Orders List</button>
                </a>
            
                <a href="/users">
                    <button type="submit">Users List</button>
                </a>
            

        
                <a href="/review-product-list">
                    <button type="submit">Review Product List</button>
                </a>
           
                <a href="/admin-logout">
                    <button type="submit">Logout</button>
                </a>
            

        </div>

</body>
</html>