<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Link con CSS -->
    <link rel="stylesheet" href="/css/contacto.css">

      <!-- Viewport -->
      <meta name="viewport" content=
      "width=device-width, initial-scale=1.0">

      
</head>

<header>
    <%- include('../partials/header.ejs') %>
</header>

    <body>
        <div class="box">  
            
            <div class="body-Contacto">
                 <div class="datosContacto">
                <h3>whatsapp</h3>
                <h4>15-XXXX-XXXX</h4>
                <br>
                <h3>Email</h3>
                <h4>grupo_8_rayuela@outlook.com</h4><br>
            </div>

            <div class="contactoEmail">
                <form action="/contactoEmailForm" method="POST" class="formulario">
                    <input type="text" name="nombre" placeholder="Nombre" value="Nombre" required><br>
                    <input type="text" name="apellido" placeholder="Apellido" value="Apellido" required><br>
                    <input type="email" name="email" placeholder="E-mail" value="E-mail" required><br>
                    <textarea name="comentario" placeholder="Deje su comentario" value="comentario" required></textarea><br>  
                    <button id=buttonsubmit type="submit" value="submitir">Submitir</button><br>
                </form>
            </div>
        </div> 

        <div>
         <%- include('../partials/whatsappButton.ejs') %>
        </div>


        <footer>
            <%-include('../partials/footer.ejs') %>
        </footer>

    </body>
</html>