<!DOCTYPE html>
<html lang="en">
<$-include('../partials/head.ejs') %>

<body>
    <%include('../partials/header')%>

    <main class="login">
        <br>
        <h3>Ingresar</h3>
    
        <form action="/" method="POST">
            <input type="email" name="email" placeholder="E-mail" value="email" required>
            <input type="password" name="password" placeholder="Contraseña" value="password" required>
            <input type="submit" value="Ingresar" class="botonLogin">
        </form>

        <div class="links">
            <a href="#">¿Olvidaste tu contraseña?</a>
            <br>
            <a href="/usuarios/registro">Registrarte</a>
        </div>
    </main>

    
</body>

<footer>
    <ul class="lista-footer">
        <li><a href="#" class="quienes-somos">Quienes Somos</a></li>
        <li class="redes">
            <h4>Redes Sociales</h4>
        </li>
            <!--<ul class="lista-redes">
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitch"></i></li>
            </ul>-->
            <ul class="lista-redes">
                <li><a href="#"><img src="/images/icons8-twitter-48.png" alt=""></a></li>
                <li><a href="#"><img src="/images/icons8-instagram-48.png" alt=""></a></li>
                <li><a href="#"><img src="/images/icons8-twitch-48.png" alt=""></a></li>        
            </ul>
        </li>
        <li class="medios-de-pago">
            <h4>Medios de Pago</h4>
            <!--<ul class="lista-medios-pago">
                <li><i class="fa-brands fa-cc-mastercard"></i></i></li>
                <li><i class="fa-brands fa-cc-visa"></i></li>
            </ul>-->
            <ul class="lista-medios-pago">
                <li><img src="/images/icons8-gift-card-48.png" alt=""></li>
                <li><img src="/images/icons8-visa-48.png" alt=""></li>
                <li><img src="/images/icons8-mastercard-48.png" alt=""></li>
            </ul>
        </li>
        <li><a href='#'>F.A.Q</a></li>
        <li class="contactenos"><a href="#">Contactanos</a></li>
    </ul>
    <div>
        <a href="https://api.whatsapp.com/send?phone=1155996575&text=Hola. como te podemos ayudar?%21%20." class="whatsapp" target="_blank">
            <img src="/images/icons8-whatsapp-48.png" alt="">
            <!--<i class="fa fa-whatsapp whatsapp-button"></i>-->
        </a>
    </div>
</footer>
</html>