<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>

    <!-- Link con CSS -->
    <link rel="stylesheet" href="/css/pregFrec.css">

      <!-- Viewport -->
      <meta name="viewport" content=
      "width=device-width, initial-scale=1.0">

      
</head>



<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <h2 class="titulo-req">Preguntas Frecuentes</h2>

    <p class="parrafo-freq">
        Esperamos que esta sección responda a tus dudas. ¡Por cualquier otra consulta no dudes en contactarnos por whatsapp!
    </p>
<br>
    <h3 class="titulo2-freq">¿Cuáles son los medios de pago disponibles? </h3>
    <h4 class="titulo3-freq">Podés abonar a través de mercadopago, en efectivo, con tarjeta de crédito o débito o transferencia bancaria. </h4>
<br>
    <h3 class="titulo2-freq">¿Cuál es el costo de envío?</h3>
    <h4 class="titulo3-freq">El costo del envio dependerá del destino donde debamos enviar el producto. Previo a realizar el pago de tu compra, podrás ingresar el código postal de destino para, calcular el costo y seleccionar la opción que más te guste.</h4>
<br>
    <h3 class="titulo2-freq">¿Cómo se realizan los envíos?</h3>
    <h4 class="titulo3-freq">Los envíos se realizan a todo el país a través de OCA y tenemos las mejores tarifas de envio del mercado. Podés elegir que te llegue a domicilio o retirar en la sucursal de destino elegida más próxima a tu domicilio.</h4>
<br>
    <h3 class="titulo2-freq">¿Cuánto tarda en llegar el pedido?</h3>
    <h4 class="titulo3-freq" >El tiempo de entrega dependerá del destino y del tipo de envío seleccionado.
        Si estás en CABA, se entrega en el día o al día siguiente. Si en cambio estás en el interior del país, los plazos pueden ser entre 3 y 7 días hábiles luego de acreditado el pago. Una vez realizada tu compra recibirás un código del envio a tu correo electrónico para que puedas realizar el seguimiento del mismo.
    </h4>
<br>
    <h3 class="titulo2-freq">¿Puedo comprar varios artículos en el mismo envío?</h3>
    <h4 class="titulo3-freq">Comprar varios artículos juntos, te permitirá ahorrar en el costo de envío. Asegurate de que todos los productos estén dentro de un mismo carrito para no pagar varios envíos y recibir todos los productos juntos.</h4>
<br>
    <h3 class="titulo2-freq">Recibí un juguete equivocado o dañado, ¿Qué debo hacer?</h3>
    <h4 class="titulo3-freq">Si recibiste un juguete dañado o equivocado, te pedimos que nos contactes por WhatsApp para que podamos proceder al cambio del mismo. Es importante que tengas a mano el numero de compra o de orden para que podamos ayudarte tan rápido como sea posible.</h4>
<br>
    <h3 class="titulo2-freq">¿Se puede envolver el regalo? </h3>
    <h4 class="titulo3-freq">Con el objetivo de que tu compra no sufra golpes o daños, todos los juguetes enviados por OCA tienen una envoltura específica para evitar inconvenientes en su traslado y y no pueden ser envueltos para regalo por nosotros.</h4>
<br>
    <h3 class="titulo2-freq">¿Puedo añadir una nota dedicatoria en la compra?</h3>
    <h4 class="titulo3-freq">¡Claro que sí! Al momento de finalizar la compra, vas a encontrar un campo que se llama “Notas de pedido”. Agregá ahí el mensaje para el destinatario, para que nosotros podamos incorporarlo.</h4>
<br>

    <div>
        <%- include('../partials/whatsappButton.ejs') %>
    </div>
    <footer>
        <%-include('../partials/footer.ejs') %>
    </footer>
    
</body>

