<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-styles.css">
    <title>Document</title>

    <!-- Link con CSS -->
    <link rel="stylesheet" href="/css/quienesSomos.css">

      <!-- Viewport -->
      <meta name="viewport" content=
      "width=device-width, initial-scale=1.0">

      
</head>


<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <h2>¿Quienes somos?</h2>
    <br>
    <p>En Rayuela nos dedicamos a la venta, distribución y disfusión de juguetes didáctios que acompañan el desarrollo de nuestros niños</p>
    <br>
    <h3>
        La selección de los productos que se comercializan se realiza de forma minuciosa y detallista, eligiendo juguetes con materiales de excelente calidad, en su mayoría de madera de reforestación, para acompañar a los peques en su crecimiento de forma sustentable y pedagógica con el objetivo de estimular la motricidad, la creatividad, la cognición y las emociones.
    </h3>
<br>
    <h3>
        Consideramos que los adultos estamos para acompañar y potenciar a nuestros niños. Para nosotros, los colores no tienen género y partimos de la premisa de ir juntos en el crecimiento de los niños para que descubran qué, cómo y quiénes quieren ser.
    </h3>

    <div >
        <img class="quienesSomos-img" src="/img/logo5.png" alt="">
    </div>

    <div>
        <%- include('../partials/whatsappButton.ejs') %>
    </div>

    <footer>
        <%-include('../partials/footer.ejs') %>
    </footer>

</body>

