<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayuela</title>

      <!-- iconos -->
      <script src="https://kit.fontawesome.com/4c9feabc71.js"
      crossorigin="anonymous"></script>
  
      <!-- Link con CSS -->
      <link rel="stylesheet" href="/css/register-styles.css">
  
      <!-- Fuente Roboto -->
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
          
      <!-- Fuente Monserrat -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Roboto&display=swap" rel="stylesheet"> 
          <style>
          @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
          </style>
  
      <!-- Viewport -->
      <meta name="viewport" content=
      "width=device-width, initial-scale=1.0"> 
          
</head>

<header>
    <%- include('../partials/header.ejs')%>
</header>

<body>
    <main class="register">
        <h3>Registrate</h3>
            <br>
        <form action="/registro" method="POST">
            
            <input type="text" name="nombre" placeholder="Nombre"  required>
            <input type="text" name="apellido" placeholder="Apellido"  required>
            <input type="email" name="email" placeholder="E-mail"  required>
            <input type="number" name="telefono" placeholder="Telefono"  required>
            <input type="text" name="domicilio" placeholder="Domicilio"  required>
            <input type="password" name="password" placeholder="Contraseña"  required>
            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>
            
            <!-- Foto de Usuario -->
            <div class="register-look-for-img">
                <h4>Foto de perfil (opcional)</h4>
                <input type="file" name="fotoPerfil" required>
            </div>
        </form>
            <br>
            
            <!-- Terminos y Condiciones -->
            <div>
                <div class="register-termYCond"><a href="#">Terminos y Condiciones</a></div>
                <div class="register-termYCond">¿Ya tienes cuenta?</div>
                <div class="register-termYCond"><a href="/login">Ingresá</a></div>
            </div>
            <br>
             <!-- Botones -->
    <div id="buttonRegister">
    <button id=buttonR type="reset" value="Borrar" >Borrar</button>
    <button id=buttonR type="submit" value="registrarse">Registrarse</button>
    
</div>  
        

        <div>
            <%- include('../partials/whatsappButton.ejs') %>
        </div>
    </main> 
    
    
</body>

<footer>
    <%-include('../partials/footer.ejs') %>
</footer>

</html>