<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/product-styles.css" title="cont">
        
        <script src="https://kit.fontawesome.com/4c9feabc71.js" crossorigin="anonymous"></script>
        <title> Deja tu Review - Rayuela</title>
        <link rel="icon" href="/img/logo-icono.png">
    </head>
    
    

<body>
   <main class="main__form">
    
   <a href="/productPanel"><button>Back to Control Panel</button></a>
    <form action="/review" method="POST" class="create-form">
        <div class="form-logo">
            <img id="logo" src="/img/logo5.png" alt="logo">
           
            <div class="control-formulario">
                <img src="/img/products/maracas.png" width="150px">
            </div>
            <h1 class="h1-edit-form">Review de juagueteName <div class="stars-outer">
                <div class="stars-inner" style ="width:0">
                </div>
            </div></h1>
            
        </div>
       
        <div class="control-formulario">
            <label for="rating">Rating</label>
            <input type="number" name="rating" class="input-control" required>
        </div>
        
        <div class="control-formulario">
            <label for="nombre-producto">Titulo del comentario:</label>
            <input type="text" name="title" class="input-control" >
        </div>          
        
        
        <div class="control-formulario">
            <label for="descripcion">Review del producto <%=jugueteReview.name%>:</label>
            <textarea name="description" class="textarea" placeholder="Escribí tu cometario..."></textarea>
        </div>
    
        
       
        <div class="form-buttons">
       
        <button type="submit" class="form-button">GUARDAR</button>
    </div>
    </form>
  
</main>


</body>

<footer>
    <%include('../partials/footer.ejs')%>
</footer>

</html>